<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>调度监控分析平台</title>
<link rel="stylesheet" href="/static/layui/css/layui.css"></link>
<link rel="stylesheet" href="/static/css/css.css"></link>
<link rel="stylesheet" href="/static/css/global.css"></link>
</head>
<style>
 .fenge{
padding:14px 1px 9px 1px;
margin-left: 6px;
border-left: 1px solid #fff;
font-size: 0;

}
</style>
<body class="bg">
	<div class="layui-fluid">
		
		<div class="layui-row">
			<div class="fly-header layui-bg-black">
				
				<a class="etl-logo" href="">&nbsp; &nbsp;&nbsp;<img src="/static/images/logo.png"
					alt="ETL">
				</a>
				<div class="fly-user">
					欢迎 <i class="layui-icon">&#xe612;</i> <span th:text="${session.currentUser}"> </span><span class="fenge"></span> &nbsp;<button class="layui-btn layui-btn-xs layui-btn-warm" onclick="javascript:logout()" >注销</button>
				</div>
			</div>
		</div>
		
		<div class="layui-row  etl-marginTop">
			<div class="layui-col-md1">
			  <div>
				 	<ul class="layui-nav layui-nav-tree elt-left-main"
						lay-filter="etl_nav">
						<li class="layui-nav-item" id="111"><a _href="/admin/default.html"> <i
								class="layui-icon">&#xe68e;</i> <span>首页</span>
						</a></li>
						<li class="layui-nav-item" id="555"><a _href="/admin/jobmonitor.html"> <i
								class="layui-icon">&#xe62e;</i> <span>调度监控</span>
						</a></li>
						<li class="layui-nav-item" id="333"><a _href="/admin/jobmanager.html"> <i
								class="layui-icon">&#xe672;</i> <span>调度配置</span>
						</a></li>
						<li class="layui-nav-item" id="222"><a _href="/admin/logmanager.html"> <i
								class="layui-icon">&#xe609;</i> <span>调度日志</span>
						</a></li>
						<li class="layui-nav-item" id="444"><a _href="/admin/jobanalysis.html"> <i
								class="layui-icon">&#xe62c;</i> <span>调度分析</span>
						</a></li>
						<!-- <li class="layui-nav-item" id="666"><a _href="/admin/todo.html"> <i
								class="layui-icon">&#xe6b2;</i> <span>数据校验</span>
						</a></li> -->
						
					</ul> 
				</div> 
				
			</div>
			
			<div class="layui-col-md11">
				<!-- 		 		<iframe id="pageFrame" frameborder='0' scrolling='auto' style='width:100%;height:100%' src="/admin/default.html"></iframe> -->
				<div class="elt-right-main">
				 <div class="layui-tab layui-tab-card tab" lay-filter="etl_tab"
					lay-allowclose="true" id="etl_tab_tip">
					<ul class="layui-tab-title">
						<li lay-id="111" class="layui-this">首页</li>
					</ul>
					<div class="layui-tab-content" style="height: 440px;">
						<div class="layui-tab-item layui-show">
							
 						  <iframe id="pageFrame" frameborder='0' scrolling='auto'  style='width: 100%; height: 435px' src="/admin/default.html"></iframe>
						</div>
					</div>
				</div> 
			   </div>
			</div>
		</div>
		
		<div class="layui-row">
			<div class="etl-footer">
				<p>
					<a href="#">卫宁健康</a> 2019 &copy; <a href="#">BI研发出品</a>
				</p>
			</div>
		</div>
	</div> 

	<script src="/static/layui/layui.js"></script>
	<script type="text/javascript">
	layui.config({
		  base: '/static/js/'
		 ,version: '101100'
		}).use('admin');

	</script>
</body>
</html>