<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
	<contextName>ETLScheduler</contextName> 
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
	<appender name="ETLScheduler" class="ch.qos.logback.core.rolling.RollingFileAppender">
		　<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
　　　　　　　       <fileNamePattern>ETLSchedulerLogs/ETLScheduler.%d{yyyy-MM-dd}.log</fileNamePattern> 
　　　　　　　　　<maxHistory>10</maxHistory> 
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
　　　　　　  </rollingPolicy>
		 <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
         </encoder> 
	</appender>
    <!--<appender name="permission" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<file>${catalina.home}/logs/permission.log</file>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<FileNamePattern>${catalina.home}/logs/permission.%d{yyyy-MM-dd}.log.gz</FileNamePattern>-->
        <!--</rollingPolicy>-->
        <!--<layout class="ch.qos.logback.classic.PatternLayout">-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>-->
        <!--</layout>-->
    <!--</appender>-->
    <!---->
<!--     <logger name="ETLSchedulerLog" level="INFO">
        <appender-ref ref="ETLScheduler"/>
    </logger>
 -->
    <!-- TRACE < DEBUG < INFO < WARN < ERROR -->
    <root level="INFO">
    	<appender-ref ref="ETLScheduler"/>
        <appender-ref ref="STDOUT" />
    </root>

</configuration>